<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Servers</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div id="container">

        <h1 th:text="${pageTitle}">Machine Interfaces</h1>

        <h2>Server List:</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Hostname</th>
                    <th>Port</th>
                    <th>Remote Directory</th>
                </tr>
            </thead>
            <tr th:each="mi : ${machineInterfaces}">
                <td th:text="${mi.id}"></td>
                <td th:text="${mi.name}"></td>
                <td th:text="${mi.connectionType}"></td>
                <td th:text="${mi.hostname}"></td>
                <td th:text="${mi.port}"></td>
                <td th:text="${mi.remoteDirectory}"></td>
            </tr>
        </table>

        <p>SPeL test: <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span></p>

    </div>

</body>
</html>